.modal {
	overflow: hidden;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
	background-color: $white;
	
	&--kyiv-pass {
		max-width: 350px;
		padding: 30px 50px;
		text-align: center;
		.title {
			margin: 0 0 24px;
			font-size: 22px;
			font-weight: 700;
			color: #4e4e4e;
		}
		.txt {
			margin: 0 0 30px;
			font-size: 18px;
		}
		.actions {
			.btn {
				&:not(:last-child) {
					margin: 0 0 20px;
				}
			}
		}
	}
	
	&--event {
		max-width: 800px;
		padding: 0 20px 30px;
		.picture {
			display: block;
			margin: 0 -20px 15px;
		}
		.title {
			margin: 0 0 30px;
			font-size: 22px;
			font-weight: 700;
			color: $primary;
		}
		.inner {
			@include flexbox();
			@include align-items(flex-start);
			.left {
				width: 55%;
				margin-right: 25px;
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				color: #4e4e4e;
			}
			.right {
				width: calc(45% - 25px);
				.aside {
					&__info {
						max-height: 420px;
						overflow-y: auto;
						padding-right: 20px;
						.item {
							color: #4e4e4e;
							&__title {
								@include flexbox();
								@include align-items(center);
								margin: 0 0 8px;
								img {
									margin-right: 10px;
									max-height: 20px;
								}
							}
							&:not(:last-child) {
								margin-bottom: 20px;
							}
						}
						.schedule {
							margin-top: 20px;
							&__item {
								@include flexbox();
								@include justify-content(space-between);
								.title {
									font-size: 14px;
									font-weight: normal;
									color: #4e4e4e;
								}
							}
						}
					}
				}
			}
		}
	}
	
	// temp
	margin: 30px 0;
}