// Colors

$primary:           #0065bd;
$blue:              #0065bd;
$light-blue:        #0cbdde;
$green:             #3c8a2e;
$yellow:            #d2dd25;
$red:               #aa272f;
$dark-gray:         #2b2b2b;
$white:             #fff;
$black:             #000;

// Container

$container-width:   1236px;
$container-header:  1280px;

// Media queries

$screen-xs:         420px;
$screen-sm:         768px;
$screen-md:         992px;
$screen-lg:         1420px;
$screen-xlg:        1920px;

$screen-2xs-max:    $screen-xs - 1;
$screen-xs-max:     $screen-sm - 1;
$screen-sm-max:     $screen-md - 1;
$screen-md-max:     $screen-lg - 1;
